<div class="newPresForm">
	<form method="post" action="api/newPres" enctype="multipart/form-data">
		<div class="newPresContentDiv">
		<input type="file" name="pres" /> 
		<span class="textSeperator"> או </span>
		<input type="text" class="textBox" name="presurl" placeholder="אתר המצגת" />
		</div>
		<center>
		<input type="text" class="textBox" name="title" placeholder="שם מצגת" />
		<br/>
		<input type="text" class="textBox" name="desc" placeholder="תיאור קצר" />
		<br/>
		<input type="text" class="textBox" name="tags" placeholder="תגים לחיפוש" />
		<br/>
		<br/>
		<input type="submit" value="העלה מצגת">
		</center>
	</form>
</div>